
        <div class="post_box">
                <div class="post_body">
        <%= simple_form_for @comment do |f| %>
                <%= f.input :text %>
                <%= f.submit 'Edit', class: 'btn btn-default btn-block' %>
           <% end %>
           </div>
           </div>
